<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sd="http://www.w3.org/1999/xhtml"
      layout:decorate="~{/layouts/layout}">

<head>
    <meta charset="UTF-8">
    <title>PetStay - Detalles Reserva</title>
</head>

<body>
<div layout:fragment="contenido">
    <main>

        <!--Contenedor principal-->
        <div class="album py-5 bg-body-tertiary">
            <div class="container">

                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">

                    <!--Cartas-> Alojamientos información general-->
                    <div class="col">
                        <div class="card">

                            <p class="titulo_alojamiento">Casa Pet Paradise</p>
                            <img class="card-img-top" height="225" th:src="@{/img/manor-house-2359884_1280.jpg}"
                                 preserveAspectRatio="xMidYMid slice" focusable="false"/>
                            <div class="card-body">

                                <p class="card-direccion">Teatinos, 4 (Málaga)</p>
                                <p class="card-descripcion">Preciosa casa en un pueblo de Málaga, tengo 2 perritos en ella,
                                    son muy
                                    buenos. La casa cuenta con piscina, jardín, barbacoa...</p>
                                <p class="card-precio">50€/noche</p>

                                <!--Anfitrion-->

                                <p class="titulo">Afitrión</p>
                                <div class="container">
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <img th:src="@{/img/man-1868563_1280.jpg}" class="card-img-top mb-3">
                                        </div>
                                        <div class="col-lg-6">
                                            <p class="card-afitrion">Marcos</p>
                                            <p class="card-valoraciones">80 Valoraciones</p>
                                        </div>

                                    </div>

                                </div>
                                <br>

                                <!--Mascotas-->

                                <p class="titulo">Mascotas</p>

                                <div class="container">
                                    <div class="row">
                                        <div class="col-md-6 mb-4">
                                            <img th:src="@{/img/animales/pet01.jpeg}" class="card-img-top mb-3" alt="Imagen"
                                                 preserveAspectRatio="xMidYMid slice" focusable="false">
                                            <p class="card-direccion">Hume</p>
                                            <p class="card-descripcion">Paseo 3 veces al día</p>
                                            <p class="card-precio">20€/cuidados al día</p>
                                        </div>


                                        <div class="col-md-6 mb-4">
                                            <img th:src="@{/img/animales/pet01.jpeg}" class="card-img-top mb-3" alt="Imagen"
                                                 preserveAspectRatio="xMidYMid slice" focusable="false">
                                            <p class="card-direccion">Hume</p>
                                            <p class="card-descripcion">Paseo 3 veces al día</p>
                                            <p class="card-precio">20€/cuidados al día</p>
                                        </div>
                                    </div>


                                </div>


                                <div class="row-8 justify-content-center">
                                    <a th:href="@{/reservas/detalle_reserva}">
                                        <button type="submit" class="btn-reserva">Reservar</button>
                                    </a>
                                </div>

                            </div>
                        </div>


                    </div>
                    <div class="col">
                        <div class="card">

                            <p class="titulo_alojamiento">Casa Pet Paradise</p>
                            <img class="card-img-top" height="225" th:src="@{/img/manor-house-2359884_1280.jpg}"
                                 preserveAspectRatio="xMidYMid slice" focusable="false"/>
                            <div class="card-body">

                                <p class="card-direccion">Teatinos, 4 (Málaga)</p>
                                <p class="card-descripcion">Preciosa casa en un pueblo de Málaga, tengo 2 perritos en ella,
                                    son muy
                                    buenos. La casa cuenta con piscina, jardín, barbacoa...</p>
                                <p class="card-precio">50€/noche</p>

                                <!--Anfitrion-->

                                <p class="titulo">Afitrión</p>
                                <div class="container">
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <img th:src="@{/img/man-1868563_1280.jpg}" class="card-img-top mb-3">
                                        </div>
                                        <div class="col-lg-6">
                                            <p class="card-afitrion">Marcos</p>
                                            <p class="card-valoraciones">80 Valoraciones</p>
                                        </div>

                                    </div>

                                </div>
                                <br>

                                <!--Mascotas-->

                                <p class="titulo">Mascotas</p>

                                <div class="container">
                                    <div class="row">
                                        <div class="col-md-6 mb-4">
                                            <img th:src="@{/img/animales/pet01.jpeg}" class="card-img-top mb-3" alt="Imagen"
                                                 preserveAspectRatio="xMidYMid slice" focusable="false">
                                            <p class="card-direccion">Hume</p>
                                            <p class="card-descripcion">Paseo 3 veces al día</p>
                                            <p class="card-precio">20€/cuidados al día</p>
                                        </div>


                                        <div class="col-md-6 mb-4">
                                            <img th:src="@{/img/animales/pet01.jpeg}" class="card-img-top mb-3" alt="Imagen"
                                                 preserveAspectRatio="xMidYMid slice" focusable="false">
                                            <p class="card-direccion">Hume</p>
                                            <p class="card-descripcion">Paseo 3 veces al día</p>
                                            <p class="card-precio">20€/cuidados al día</p>
                                        </div>
                                    </div>


                                </div>


                                <div class="row-8 justify-content-center">
                                    <a th:href="@{/reservas/detalle_reserva}">
                                        <button type="submit" class="btn-reserva">Reservar</button>
                                    </a>
                                </div>

                            </div>
                        </div>


                    </div>
                    <div class="col">
                        <div class="card">

                            <p class="titulo_alojamiento">Casa Pet Paradise</p>
                            <img class="card-img-top" height="225" th:src="@{/img/manor-house-2359884_1280.jpg}"
                                 preserveAspectRatio="xMidYMid slice" focusable="false"/>
                            <div class="card-body">

                                <p class="card-direccion">Teatinos, 4 (Málaga)</p>
                                <p class="card-descripcion">Preciosa casa en un pueblo de Málaga, tengo 2 perritos en ella,
                                    son muy
                                    buenos. La casa cuenta con piscina, jardín, barbacoa...</p>
                                <p class="card-precio">50€/noche</p>

                                <!--Anfitrion-->

                                <p class="titulo">Afitrión</p>
                                <div class="container">
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <img th:src="@{/img/man-1868563_1280.jpg}" class="card-img-top mb-3">
                                        </div>
                                        <div class="col-lg-6">
                                            <p class="card-afitrion">Marcos</p>
                                            <p class="card-valoraciones">80 Valoraciones</p>
                                        </div>

                                    </div>

                                </div>
                                <br>

                                <!--Mascotas-->

                                <p class="titulo">Mascotas</p>

                                <div class="container">
                                    <div class="row">
                                        <div class="col-md-6 mb-4">
                                            <img th:src="@{/img/animales/pet01.jpeg}" class="card-img-top mb-3" alt="Imagen"
                                                 preserveAspectRatio="xMidYMid slice" focusable="false">
                                            <p class="card-direccion">Hume</p>
                                            <p class="card-descripcion">Paseo 3 veces al día</p>
                                            <p class="card-precio">20€/cuidados al día</p>
                                        </div>


                                        <div class="col-md-6 mb-4">
                                            <img th:src="@{/img/animales/pet01.jpeg}" class="card-img-top mb-3" alt="Imagen"
                                                 preserveAspectRatio="xMidYMid slice" focusable="false">
                                            <p class="card-direccion">Hume</p>
                                            <p class="card-descripcion">Paseo 3 veces al día</p>
                                            <p class="card-precio">20€/cuidados al día</p>
                                        </div>
                                    </div>


                                </div>


                                <div class="row-8 justify-content-center">
                                    <a th:href="@{/reservas/detalle_reserva}">
                                        <button type="submit" class="btn-reserva">Reservar</button>
                                    </a>
                                </div>

                            </div>
                        </div>


                    </div>



                </div>

            </div>


        </div>


    </main>
</div>


</body>

</html>