<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sd="http://www.w3.org/1999/xhtml"
      layout:decorate="~{/layouts/layout}">
  <title>Valoraciones</title>
  <link rel="stylesheet" href="style/style.css">
</head>

<body>
<div layout:fragment="contenido">
  <div class="container"> 

  <h1>Valoraciones de Usuario</h1>

 
  <div class="contenedor_valoracion">
      <div class="avatar">
        <img src="img/cuidadores.jpg" alt="User 1">
      </div>

      <div class=" details">
        <h2>Manuel Pellegrini Ripamonti</h2>
        <div class="comentario">¡Excelente servicio!</div>
        <div class="calificacion">★★★★☆</div>
        
      </div>
    </div>
      
      <h2>Agregar Valoración</h2>
  <div class="form-container">
    <form>
      <label for="nombre">Nombre:</label>
      <input type="text" id="nombre" name="nombre" required>
      <label for="calificacion">Calificación:</label>
      <select id="calificacion" name="calificacion" required>
        <option value="5">★★★★★</option>
        <option value="4">★★★★☆</option>
        <option value="3">★★★☆☆</option>
        <option value="2">★★☆☆☆</option>
        <option value="1">★☆☆☆☆</option>
      </select>

      <label for="comentario">Comentario:</label>
      <textarea id="comentario" name="comentario" rows="4" cols="50"></textarea>

      <input type="submit" value="Enviar">
    </form>

  </div>


  </div>
  

  </div>
 
</body>

</html>