<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalle Reserva</title>
    <link rel="stylesheet" type="text/css" href="../../static/style/style-detalleReserva.css">
</head>

<body>
    <div class="container">
        <div id="contenido">

            <!-- Logo -->
            <div>
                <a href="../index.html">
                    <img src="../../static/img/efrerg.png" id="icon" alt="logo" class="logo"  />

                </a>
            </div>

            <!-- Títulos -->
            <div class="titulos">
                <a class="login" href="#">Detalles de la Reserva</a>
            </div>

            <!--contenido interior-->

            <div class="contenido-interior">

                <div class="contenido-izquierda">

                    <p class="titulo_alojamiento">Casa Pet Paradise</p>
                    <div class="anfitrion">
                        <img  src="../../static/img/manor-house-2359884_1280.jpg" />

                        
                            <p class="card-direccion">Teatinos, 4 (Málaga)</p>
                        
                    </div>


                    <div class="anfitrion">
                        <img src="../../static/img/man-1868563_1280.jpg">
                        <p class="card-afitrion">Marcos <br>
                            80 valoraciones</p>
                    </div>


                    <div class="contenido-mascotas">

                        <div class="mascota">
                            <img src="../../static/img/pet01.jpeg" class="img-mascota mb-3" alt="Imagen">
                            <p class="descripcion">Hume <br>Paseo 3 veces al día</p>
                        </div>

                        <div class="mascota">
                            <img src="../../static/img/pet01.jpeg" class="img-mascota mb-3" alt="Imagen">
                            <p class="descripcion">Hume <br>Paseo 3 veces al día</p>
                        </div>

                    </div>






                </div>

                <div class="contenido-derecha">
                    <div class="formulario">
                        <label for="fechaInicio">Fecha de inicio:</label>
                        <input type="date" id="fechaInicio">

                        <label for="fechaFin">Fecha de fin:</label>
                        <input type="date" id="fechaFin">
                    </div>

                    <div class="factura">
                        <p>Precio por noche: <span>50€</span></p>
                        <p>Precio cuidados al día: <span>20€</span></p>
                        <p>Total factura: <span>70€</span></p>
                    </div>

                    <button class="btn-reservar">Reservar</button>
                </div>
            </div>



        </div>

    </div>
</body>

</html>