<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sd="http://www.w3.org/1999/xhtml"
      layout:decorate="~{/layouts/layout}">
<title>Perfil - Usuario</title>
<link rel="stylesheet" href="style/style.css">
<link rel="stylesheet" th:href="@{style/perfiles.css}">

</head>



<body>

    <div layout:fragment="contenido">
        <div class="container">

            <div id="contenedor_general">
    <!-- Datos Usuario -->
                <main>
    <div class="row">
        <div class="col-sm-4 d-flex justify-content-center align-items-end">
            <p><strong>@usuario</strong></p>
        </div>
        <div class="col-sm-4 d-flex justify-content-center align-items-center">
            <div class="d-flex flex-column justify-content-end align-items-center">
                <img src="img/gender-neutral-user.png" class="rounded img-perfil mt-4"
                     alt="Imagen">
                <p class="text-nowrap mt-2 mb-0"><strong>Nombre Apellido 1 Apellido 2</strong></p>
                <div class="rating">
                    <span class="star">&#9733;</span>
                    <span class="star">&#9733;</span>
                    <span class="star">&#9733;</span>
                    <span class="star">&#9733;</span>
                    <span class="star">&#9733;</span>
                </div>
            </div>
        </div>
        <div class="col-sm-4 d-flex justify-content-center align-items-center">
            <div class="btn-group-vertical mt-4 align-self-start">
                <button class="btn my-1 rounded">Editar perfil</button>
                <button class="btn my-1 rounded">Calendario de Disponibilidad</button>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-sm-4 d-flex justify-content-center align-items-center">
            <div>
                <label for="fecha-nacimiento">Fecha de nacimiento:</label>
                <input type="date" id="fecha-nacimiento" class="formulario rounded">
            </div>
        </div>
        <div class="col-sm-4 d-flex justify-content-center align-items-center">
            <div>
                <label for="email">Email:</label>
                <input type="text" id="email" class="formulario rounded">
            </div>
        </div>
        <div class="col-sm-4 d-flex justify-content-center align-items-center">
            <div>
                <label for="direccion">Dirección:</label>
                <input type="text" id="direccion" class="formulario rounded">
            </div>
        </div>
    </div>

    <!-- Presentación -->
    <div class="row">
        <div class="col">
            <div class="card shadow-sm bloque">
                <p class="titulos">Presentación</p>
                <div class="row">
                    <div class="container-fluid">
                        <form>
                                    <textarea class="form-control card shadow-sm" rows="5"
                                              placeholder="Introduce tu presentación aquí"></textarea>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <!-- Bloque de Mascotas -->
        <div class="col-md-6 my-4">
            <div class="bloque card shadow-sm">
                <a href="#" class="enlace-bloque titulos ">Mascotas</a>
                <div class="row d-flex bloque2 rounded shadow-sm d-flex ">
                    <div class="col d-flex flex-column justify-content-end align-items-center">
                        <a href="#" class="enlace">
                            <div>
                                <img src="img/Salem.jpg" class="rounded img-perfil mb-1"
                                     alt="Mascota">
                                <p class="mb-0"><strong>Salem</strong></p>
                                <div class="rating">
                                    <span class="star">&#9733;</span>
                                    <span class="star">&#9733;</span>
                                    <span class="star">&#9733;</span>
                                    <span class="star">&#9733;</span>
                                    <span class="star">&#9733;</span>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col d-flex flex-column justify-content-end align-items-center">
                        <a href="#" class="enlace">
                            <div>
                                <img src="img/neka.jpg" class="rounded img-perfil mb-1"
                                     alt="Mascota">
                                <p class="mb-0"><strong>Neka</strong></p>
                                <div class="rating">
                                    <span class="star">&#9733;</span>
                                    <span class="star">&#9733;</span>
                                    <span class="star">&#9733;</span>
                                    <span class="star">&#9733;</span>
                                    <span class="star">&#9733;</span>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col d-flex flex-column justify-content-end align-items-center">
                        <a href="#" class="enlace">
                            <div>
                                <img src="img/sant.jpg" class="rounded img-perfil mb-1"
                                     alt="Mascota">
                                <p class="mb-0"><strong>Sant</strong></p>
                                <div class="rating">
                                    <span class="star">&#9733;</span>
                                    <span class="star">&#9733;</span>
                                    <span class="star">&#9733;</span>
                                    <span class="star">&#9733;</span>
                                    <span class="star">&#9733;</span>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <!-- Bloque de Alojamientos -->
        <div class="col-md-6 my-4">
            <div class="bloque card shadow-sm">
                <a href="#" class="enlace-bloque titulos">Alojamientos</a>
                <div class="row bloque2 rounded shadow-sm">
                    <div class="col d-flex flex-column justify-content-end align-items-center">
                        <a href="#" class="enlace">
                            <div>
                                <img src="img/casa1.jpg" class="rounded img-perfil mb-1"
                                     alt="Alojamiento 1">
                                <p class="mb-0"><strong>Alojamiento 1</strong></p>
                                <div class="rating">
                                    <span class="star">&#9733;</span>
                                    <span class="star">&#9733;</span>
                                    <span class="star">&#9733;</span>
                                    <span class="star">&#9733;</span>
                                    <span class="star">&#9733;</span>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col d-flex flex-column justify-content-end align-items-center">
                        <a href="#" class="enlace">
                            <div>
                                <img src="img/casa2.jpg" class="rounded img-perfil mb-1"
                                     alt="Alojamiento 1">
                                <p class="mb-0"><strong>Alojamiento 2</strong></p>
                                <div class="rating">
                                    <span class="star">&#9733;</span>
                                    <span class="star">&#9733;</span>
                                    <span class="star">&#9733;</span>
                                    <span class="star">&#9733;</span>
                                    <span class="star">&#9733;</span>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col d-flex flex-column justify-content-end align-items-center">
                        <a href="#" class="enlace">
                            <div>
                                <img src="img/casa3.jpg" class="rounded img-perfil mb-1"
                                     alt="Alojamiento 1">
                                <p class="mb-0"><strong>Alojamiento 3</strong></p>
                                <div class="rating">
                                    <span class="star">&#9733;</span>
                                    <span class="star">&#9733;</span>
                                    <span class="star">&#9733;</span>
                                    <span class="star">&#9733;</span>
                                    <span class="star">&#9733;</span>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Bloque de valoraciones -->

    <div class="row">
        <div class="col-12">
            <div class="bloque card shadow-sm">
                <a href="#" class="titulos enlace-bloque">Valoraciones</a>
                <div class="row bloque2 rounded shadow-sm">
                    <div class="col text-start py-2">
                        <div class="d-flex align-items-center">
                            <img src="img/gender-neutral-user.png" class="rounded img-perfil mx-3"
                                 alt="Imagen">
                            <div class="d-flex flex-column">
                                <a href="#" class="enlace">
                                    Valoración 1
                                    <div class="rating">
                                        <span class="star">&#9733;</span>
                                        <span class="star">&#9733;</span>
                                        <span class="star">&#9733;</span>
                                        <span class="star">&#9733;</span>
                                        <span class="star">&#9733;</span>
                                    </div>
                                    <h6>
                                        <div class="valoracion-texto">Texto de la valoración</div>
                                    </h6>
                                </a>
                            </div>
                        </div>
                    </div>

                    <hr class="linea border-top border-2 mt-3">

                    <div class="col text-start py-2">
                        <div class="d-flex align-items-center">
                            <img src="img/gender-neutral-user.png" class="rounded img-perfil mx-3"
                                 alt="Imagen">
                            <div class="d-flex flex-column">
                                <a href="#" class="enlace">
                                    Valoración 2
                                    <div class="rating">
                                        <span class="star">&#9733;</span>
                                        <span class="star">&#9733;</span>
                                        <span class="star">&#9733;</span>
                                        <span class="star">&#9733;</span>
                                        <span class="star">&#9733;</span>
                                    </div>
                                    <h6>
                                        <div class="valoracion-texto">Texto de la valoración</div>
                                    </h6>
                                </a>
                            </div>
                        </div>
                    </div>

                    <hr class="linea border-top border-2 mt-3">

                    <div class="col text-start py-2">
                        <div class="d-flex align-items-center">
                            <img src="img/gender-neutral-user.png" class="rounded img-perfil mx-3"
                                 alt="Imagen">
                            <div class="d-flex flex-column">
                                <a href="#" class="enlace">
                                    Valoración 3
                                    <div class="rating">
                                        <span class="star">&#9733;</span>
                                        <span class="star">&#9733;</span>
                                        <span class="star">&#9733;</span>
                                        <span class="star">&#9733;</span>
                                        <span class="star">&#9733;</span>
                                    </div>
                                    <h6>
                                        <div class="valoracion-texto">Texto de la valoración</div>
                                    </h6>
                                </a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>



    <footer th:replace="layouts/layout :: footer"></footer>
</main>
            </div>
        </div>
    </div>
</body>
</html>