<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="../static/style/style-login.css">
</head>

<body>
    <div class="container">
        <div id="contenido">

            <!-- Logo -->
            <div>
              <a href="index.html">
                <img src="../static/img/efrerg.png" id="icon" alt="logo" />
              </a>
            </div>

            <!-- Títulos -->
            <div class="titulos">
                <a class="login" href="#">Contáctanos</a>
            </div>

            

            <!--Formularo -->
            <form>
                <input type="text" id="email" class="email-login" name="email" placeholder="email">
                <textarea id="comment-input" placeholder="Escribe tu comentario"></textarea>
                <button type="submit" class="btn-log-in">Enviar</button>
            </form>

           
        </div>

    </div>
</body>

</html>