<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="../static/style/style-login.css">
</head>

<body>
    <div class="container">
        <div id="contenido">

            <!-- Logo -->
            <div>
                <a href="index.html">
                    <img src="../static/img/efrerg.png" id="icon" alt="logo" />
                </a>
            </div>

            <!-- Títulos -->
            <div class="titulos">
                <a class="login" href="#">Iniciar Sesión</a>
                <a class="sign_des" href="registro.html">Registrarse</a>
            </div>

            

            <!--Formularo login -->
            <form>
                <input type="text" id="email" class="email-login" name="email" placeholder="email">
                <input type="password" id="contrasena" class="contrasena-login" name="contrasena" placeholder="contraseña">
                <button type="submit" class="btn-log-in">Iniciar sesión</button>
            </form>

            <!--Footer-->
            <footer id="formFooter">
                
                    <a class="olvidaste-contraseña" href="olv-contrasena.html">¿Olvidaste la Contraseña?</a>
                
            </footer>
        </div>

    </div>
</body>

</html>