<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
    <link rel="stylesheet" type="text/css" href="../static/style/style-login.css">
</head>

<body>
    <div class="container">
        <div id="contenido">

            <!-- Logo -->
            <div>
                <a href="index.html">
                    <img src="../static/img/efrerg.png" id="icon" alt="logo" />
                </a>            </div>

            <!-- Títulos -->
            <div class="titulos">
                <p class="parrafo">Si olvidaste tu Contraseña
                    indica el correo electrónico con el que accede a su perfil
                    de usuario y pulse <span class="strong">Recuperar</span>. Si por el contrario
                    desea volver a la página de inicio pulse <span class="strong">Volver</span>.

                    <br>
                    <br>
                    En breve se le enviará un correo con el que podrá recuperar su contraseña
                </p>
            </div>



            <!--Formularo login -->
            <form>
                <input type="text" id="email" class="email-login" name="email" placeholder="email">
                <a class="btn-volver" href="login.html">Volver</a>
                <button type="submit" class="btn-enviar">Enviar</button>
            </form>

            <!--Footer-->
            <!-- <footer id="formFooter">
                
                    <a class="olvidaste-contraseña" href="#">¿Olvidaste la Contraseña?</a>
                
            </footer>-->
        </div>

    </div>
</body>

</html>