<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
    <link rel="stylesheet" type="text/css" href="../static/style/style-login.css">
</head>

<body>
    <div class="container">
        <div id="contenido">

            <!-- Logo -->
            <div>
                <a href="index.html">
                    <img src="../static/img/efrerg.png" id="icon" alt="logo" />
                </a>
            </div>

            <!-- Títulos -->
            <div class="titulos">
                <a class="login_des" href="login.html">Iniciar Sesión</a>
                <a class="sign_up" href="registro.html">Registrarse</a>
            </div>



            <!--Formularo Registro -->
            <form>
                <input type="text" id="nombre" class="nombe" name="nombre" placeholder="nombre">
                <input type="text" id="apellido1" class="apellido1" name="apellido1" placeholder="apellido1">
                <input type="text" id="apellido2" class="apellido2" name="apellido2" placeholder="apellido2">
                <input type="date" id="birthdate" name="birthdate">
                <input type="text" id="direccion" class="direccion" name="direccion" placeholder="direccion">
                <input type="text" id="email" class="email-login" name="email" placeholder="email">
                <input type="password" id="contrasena" class="contrasena-login" name="contrasena"
                    placeholder="contraseña">
                <input type="password" id="repetir_contrasena" class="repetir_contrasena-login"
                    name="repetir_contrasena" placeholder="repetir contraseña">
                <button type="submit" class="btn-log-in">Crear Perfil</button>
            </form>

            <!--Footer-->
            <!-- <footer id="formFooter">
                
                    <a class="olvidaste-contraseña" href="#">¿Olvidaste la Contraseña?</a>
                
            </footer>-->
        </div>

    </div>
</body>