<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sd="http://www.w3.org/1999/xhtml"
      layout:decorate="~{/layouts/layout}">
<head>
    <meta charset="UTF-8">
    <title>Envío de email</title>
</head>
<body>
<div layout:fragment="cabecera">
    <h1>Envío de email</h1>
</div>

<div layout:fragment="contenido">
    <div class="container">
        <div id="contenido">

            <div>
                <a href="index">
                    <img src="img/efrerg.png" id="icon" alt="logo" />
                </a>
            </div>

            <div class="titulos">
                <p>El envío de email ha sido exitoso. Por favor revisa su bandeja de entrada o span para reestablecer su contraseña.
                </p>
            </div>

        </div>

    </div>

</div>
</body>
</html>
