<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sd="http://www.w3.org/1999/xhtml"
      layout:decorate="~{/layouts/layout}">
<link th:href="@{style-login.css}" rel="stylesheet">

<head>
    <meta charset="UTF-8">
    <title>PetStay - Olvidaste contraseña</title>
</head>

<body>

<div layout:fragment="contenido">
    <div class="container">
        <div id="contenido">

            <!-- Logo -->
            <div>
                <a href="index">
                    <img src="img/efrerg.png" id="icon" alt="logo" />
                </a>            </div>

            <!-- Títulos -->
            <div class="titulos">
                <p class="parrafo">Si olvidaste tu contraseña
                    introduce el correo electrónico con el que accede a su perfil
                    de usuario y pulse <span class="strong">Recuperar contraseña</span>.
                    <br>
                    Si existe un usuario con esa cuenta de email,
                    en breve se le enviará un email para poder reestablecer su contraseña.
                </p>
                <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">
                    <form class="mx-1 mx-md-4"  role="form" th:action="@{/email/olv_contrasena}"
                          th:object="${loginForm}" method="post">
                        <div class="d-flex flex-row align-items-center mb-4">
                            <div class="form-outline flex-fill mb-0">
                                <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                                <label class="form-label" for="form1Example3c">Email</label>
                                <input type="email" id="form1Example3c" class="form-control"  name="username"/>
                            </div>
                        </div>
                        <!--
                            Para enviar el formulario utilizamos un botón tipo "submit". Si usas un <a>, envias
                            una petición GET, no un POST (que es lo que necesitamos en el controlador para procesar
                            el dato recibido.
                        -->
                        <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                            <!-- <a href="/email/emailexitoso" class="btn btn-primary btn-lg">Recuperar contraseña</a> -->
                            <button type="submit" class="btn btn-primary btn-lg">Recuperar contraseña</button>
                        </div>

                    </form>
                </div>
            </div>

        </div>

    </div>

</div>
</body>

</html>