<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sd="http://www.w3.org/1999/xhtml"
      layout:decorate="~{/layouts/layout_det_res}">
    <title>Detalle Reserva</title>
</head>

<body>
<div layout:fragment="contenido">
    <div class="container">
        <div id="contenido">
            <!-- Logo -->
            <div>
                <a href="index">
                    <img th:src="@{/img/efrerg.png}" id="icon" alt="logo" class="logo"  />

                </a>
            </div>

            <!-- Títulos -->
            <div class="titulos">
                <a class="login" href="#">Detalles de la Reserva</a>
            </div>

            <!--contenido interior-->

            <div class="contenido-interior">

                <div class="contenido-izquierda">

                    <p class="titulo_alojamiento">Casa Pet Paradise</p>
                    <div class="anfitrion">
                        <img  th:src="@{/img/manor-house-2359884_1280.jpg}" />


                        <p class="card-direccion">Teatinos, 4 (Málaga)</p>

                    </div>


                    <div class="anfitrion">
                        <img th:src="@{/img/man-1868563_1280.jpg}">
                        <p class="card-afitrion">Marcos <br>
                            80 valoraciones</p>
                    </div>


                    <div class="contenido-mascotas">

                        <div class="mascota">
                            <img th:src="@{img/pet01.jpeg}" class="img-mascota mb-3" alt="Imagen">
                            <p class="descripcion">Hume <br>Paseo 3 veces al día</p>
                        </div>

                        <div class="mascota">
                            <img th:src="@{img/pet01.jpeg}" class="img-mascota mb-3" alt="Imagen">
                            <p class="descripcion">Hume <br>Paseo 3 veces al día</p>
                        </div>

                    </div>






                </div>

                <div class="contenido-derecha">
                    <div class="formulario">
                        <form action="/reservas/detalle_reserva" method="post" th:object="${evento}">
                            <label for="fechaInicio">Fecha de inicio:</label>
                            <input type="date" id="fechaInicio" name="fechaInicio" th:field="*{fechaInicio}" class="form-control" required>
                            <div th:if="${#fields.hasErrors('fechaInicio')}" th:errors="*{fechaInicio}" class="invalid-feedback"></div>

                            <label for="fechaFin">Fecha de fin:</label>
                            <input type="date" id="fechaFin" name="fechaFin" th:field="*{fechaFin}" class="form-control" required>
                            <div th:if="${#fields.hasErrors('fechaFin')}" th:errors="*{fechaFin}" class="invalid-feedback"></div>

                            <button type="submit">Guardar</button>
                        </form>
            </div>
            </div>

</div>
        </div>
</div>
</div>
</body>

</html>